
.login-signup {
  display: block;
  width: 400px;
  height: 400px;
}

.main {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 8%;
  height: 92%;
  width: 100%;
  // border: 1px solid fuchsia;
}

.nav-main {
  display: flex;
  z-index: 1;
  position: fixed;
  justify-content: center;
  background-color: white;
  align-items: center;
  height: 8%;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 57.5%;
  height: 100%;
  // padding: 26px 20px;
}

.nav-one {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100%;
  // border: 1px solid fuchsia;
}

.nav-two {
  display: flex;
  justify-content: center;
  width: 200px;
}

.nav-three {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.nav-icon-wrapper {
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-icon {
  display: flex;
  height: 28px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(asset_path('camera.png'));
}

.nav-icon-links {
  margin-left: 32px;
}

.nav-separator-wrapper {
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-separator {
  display: flex;
  height: 33px;
  width: 13px;
  border-right: 1px solid black;
}

.nav-logo {
  // display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  // align-content: center;
  text-align: center;
  font-size: 1.85em;
  font-weight: 100;
  font-family: 'Balsamiq Sans';
  color: rgb(65, 65, 65);
  height: 60px;
  // width: 100px;
  margin: 1.7% 0 0 15px;
  letter-spacing: -.05em;
  // border: 1px solid blue;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: url(asset_path('instagram-logo.png'));
}

.nav-search {

}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
}

.section-main {
  display: flex;
  justify-content: center;
  // height: 100vh;
}

.section-one {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  padding: 60px 20px 0px;
  width: 55%;
}

.section-header {
  display: flex;
  height: 150px;
  margin-bottom: 44px;
  // border: 1px solid darkorange; 
}

.section-header-user {
  display: flex;
  justify-content: center;
  margin-right: 28px;
  height: 150px;
  width: 300px;
  // border: 1px solid darkorange; 
}

.section-header-userpic {
  display: flex;
  height: 160px;
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(asset_path('user.jpg'));
}

.section-one-sub1 {
  display: flex; 
  justify-content: center;
  height: 54px;
  width: 100%;
  border-top: 0.5px solid lightgray;
  // border: 2px solid black;
}

.section-one-sub2 {
  display: flex;
  justify-content: space-between;
  // height: 100vh;
  max-width: 100%;
  // border: 2px solid fuchsia;
}

.pic {
  height: 293px;
  width: 293px;
}

.pic1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(asset_path('pic1.jpg'));
}

.pic2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(asset_path('pic2.jpg'));
}

.pic3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(asset_path('pic3.jpg'));
}

.section-one-sub1-divs {
  display: flex;
  font-size: 0.8em;
  text-decoration-line: none;
  font-weight: 500;
  align-items: center;
  padding: 0 40px 0 40px;
  color: darkgray;
}

.section-header-buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; 
  // border: 1px solid darkorange; 
}

.section-header-buttons-main {
  display: flex;
  word-wrap: none;
  align-items: center;
  height: 40px;
  width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 20px 0; 
  // border: 1px solid darkorange; 
}

.section-header-username {
  display: flex;
  padding: 0 2% 0 0; 
}

.section-header-button1 {
  font-weight: 500;
  font-size: .5em;
  padding: 5px 9px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

.gear {
  background-color: transparent;
  border: none;
  font-size: .8em;
  cursor: pointer;
  outline: none; 
}

.section-header-data {
  display: flex;
  align-items: center;
  height: 40px;
  // border: 1px solid blue; 
}

.section-header-nums {
  display: flex;
  font-weight: 600;
  // border: 1px solid fuchsia; 
}

.section-header-name {
  font-weight: 500;
}