.nav_user_icon_link {
  display: flex;
  text-decoration: none;
  color: black; 
}

textarea {
  resize: none;
}

.nav-social-links {
  display: flex; 
  justify-content: space-evenly;
  font-size: 1.35em; 
  width: 100%; 
  height: 100%;
}

.linkedin-color {
  color: #0e76a8
}

.github-color {
  color: #24292e; 
}

.twitter-color {
  color: #1DA1F2; 
}

.angellist-color {
  color: black; 
}

.user-profile {
  color: rgb(255, 115, 0);
}

.world {
  color: blue; 
}